src/__pycache__/strings_with_arrows.cpython-311.pyc
.vs/mikuScript/FileContentIndex/814a0a83-0a27-45cc-9cc0-8d0265dd5798.vsidx
.vs/mikuScript/v17/.wsuo
.vs/mikuScript/v17/DocumentLayout.backup.json
.vs/mikuScript/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
src/__pycache__/miku.cpython-311.pyc
